body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 150px;
}

 .stylecontainer{
        max-width: 800px;
        margin: 0 auto;
        color: #b90b72;
        font-family: sans-serif;
        background-color: #d6f8f0;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 10px;
}